@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-brand-gradient {
    background-image: linear-gradient(135deg, theme(colors.brandPurple), theme(colors.brandGreen));
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-ink text-inkLight antialiased;
}
